@import '.meteor/local/build/programs/server/assets/packages/reywood_font-awesome-sass/font-awesome';
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed);

/* CSS declarations go here */
body {
 /* background-color: #58B47D;*/
 background-image: url("/alternatebackground.JPG");
 font-family: 'Roboto Condensed', sans-serif;
}

.main {
  background-color: rgba(158, 134, 202, 0.6);

  margin-top: 40px;
  /*padding-left: 20px;*/
  padding-top: 10px;
  text-align: center;
  width: 100%;
  min-height: 160px;
}

#profile-pic {
  border-radius: 50%;
  border: 6px solid #785CAB;
  float: left;
}
#info {
  width: 400px;
  margin: 0 auto;
  /*float: right;*/
  display: inline;
  text-align: left;
  font-size: 24px;
}

.portfolio {
  display: inline-block;
 /* max-width: 50%;*/
  padding:20px;
  margin: 5px 5px 5px 5px;
  width: 300px;
  vertical-align: top;
  text-align: center;
  font-size: 20px;
}

ul {
  list-style-type: none;
}
li{
  padding: 5px;
  text-align: left;
}

.panel-body {
  background-color: rgba(210,168,194, 0.8);
  border-radius: 5%;

}

.row {
  text-align: center;
}

.initiallyHidden { display: none; }

img.img-responsive.img-rounded.img-thumbnail {
  padding-top: 10px;
  max-width: 250px;
  padding-bottom: 10px;
}

a {
 /* display: block;*/
  text-decoration: none;
  color: black;
}

.custom {
  margin-top: 3px;
  margin-bottom: 3px;
  font-size: 15px;
  font-family: 'Roboto Condensed', sans-serif;
}

.btn-custom {
  background-color: hsl(321, 33%, 52%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cfa0be", endColorstr="#ac5c90");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#cfa0be), to(#ac5c90));
  background-image: -moz-linear-gradient(top, #cfa0be, #ac5c90);
  background-image: -ms-linear-gradient(top, #cfa0be, #ac5c90);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cfa0be), color-stop(100%, #ac5c90));
  background-image: -webkit-linear-gradient(top, #cfa0be, #ac5c90);
  background-image: -o-linear-gradient(top, #cfa0be, #ac5c90);
  background-image: linear-gradient(#cfa0be, #ac5c90);
  border-color: #ac5c90 #ac5c90 hsl(321, 33%, 47%);
  color: #333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.33);
  -webkit-font-smoothing: antialiased;
}

.btn {
  background-color: #304294;
}

.title {
  float: left;
  display: inline;
  margin-right: 30px;
  margin-left: 10px;
}
.move {
  margin-top: 150px;
}

h1 {
  font-size: 25px;
}



.fa-spin-custom:hover, .glyphicon-spin {
  -webkit-animation: spin 4000ms infinite linear;
  animation: spin 4000ms infinite linear;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}


/*.clearfix {
  overflow: auto;
}*/
/*.img-thumbnail {
  border: 3px solid black;
}*/

/*img {
  max-width
}*/